PORT=3000
DB_HOST=aws-1-us-west-2.pooler.supabase.com
DB_PORT=6543
DB_NAME=postgres
DB_USER=postgres.zwsdcardcfxtjngxvsqw
DB_PASSWORD=sistema_SRMM123
DB_SSL=true
DATABASE_URL=postgresql://postgres.zwsdcardcfxtjngxvsqw:sistema_SRMM123@aws-1-us-west-2.pooler.supabase.com:6543/postgres
